{% extends "public.layout.html.twig" %}

{% block content %}




                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>


                            <div class="carousel-inner">

                                {% for product in productsImage %}
                                <div class="item
                                {% if loop.first %}active
                                {% endif %}">
                                    <a href="{{ path("show_publicProduct",{id:product.id}) }}"><img class="slide-image" src="{{ asset("upload/"~product.image) }}" alt=""></a>
                                </div>
                                    {% endfor %}


                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">
                    {% for product in productLocale %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ asset("upload/"~product.image) }}" alt="">
                            <div class="caption">
                                <h4 class="pull-right">{{ product.price }} €</h4>
                                <h4><a href="{{ path("show_publicProduct",{id:product.id}) }}">{{ product.title }}</a>
                                </h4>
                                <p>{{ product.description }}</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">{{ product.quantity }}</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    {% endfor %}


                </div>



{% endblock %}