
{% extends 'layout.html.twig' %}

{% block title %}Création de produits{% endblock %}

{% block ariane %}
    <li class="active"><a href="{{ path('product') }}">Produits</a></li>
    <li class="active">Création de produits</li>

{% endblock %}

{% block content %}

{% for flash_message in app.session.flashBag.get('success') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}

    {{ form_start(formProduct, {attr: {novalidate:"novalidate"}}) }}

<div class="box box-success">
    <div class="box-body">

        <div>

            {{ form_errors(formProduct.title) }}


            {{ form_label(formProduct.title , "Nom de l'article", {label_attr: {class: 'labelform'} } )  }}


            {{ form_widget(formProduct.title , {
                attr: {
                    class: "form-control"
                }
            }) }}
        </div>

        <div>

            {{ form_errors(formProduct.description) }}


            {{ form_label(formProduct.description , "Description de l'article",       {label_attr: {class: 'labelform'} } )  }}


            {{ form_widget(formProduct.description , {
                attr: {
                    class: "form-control"
                }
            }) }}
        </div>

        <div>

            {{ form_errors(formProduct.price) }}


            {{ form_label(formProduct.price , "Prix de l'article",       {label_attr: {class: 'labelform'} } )  }}


            {{ form_widget(formProduct.price , {
                attr: {
                    class: "form-control"
                }
            }) }}
        </div>

        <div>

            {{ form_errors(formProduct.quantity) }}


            {{ form_label(formProduct.quantity , "Quantité",       {label_attr: {class: 'labelform'} } )  }}


            {{ form_widget(formProduct.quantity , {
                attr: {
                    class: "form-control"
                }
            }) }}
        </div>

        <div>

            {{ form_errors(formProduct.marque) }}


            {{ form_label(formProduct.marque , "Marque",       {label_attr: {class: 'labelform'} } )  }}


            {{ form_widget(formProduct.marque , {
                attr: {
                    class: "form-control"
                }
            }) }}
        </div>

        <div>

            {{ form_errors(formProduct.image) }}


            {{ form_label(formProduct.image , "Image",       {label_attr: {class: 'labelform'} } )  }}
            <img style="width: 100px" src="{{ asset('upload/' ~ product.image) }}" alt="image introuvable"></img>
            {{ form_widget(formProduct.image) }}
        </div>
        <div>

            {{ form_errors(formProduct.categories) }}


            {{ form_label(formProduct.categories , "Categorie",       {label_attr: {class: 'labelform'} } )  }}


            {{ form_widget(formProduct.categories , {
                attr: {
                    class: "radio"
                }
            }) }}
        </div>



        <div class="box-footer">
            <button class="btn btn-info btn-sm">Envoyer</button>
        </div>

        {{ form_end(formProduct) }}
    </div>
</div>







{% endblock %}

