{% extends "layout.html.twig" %}

{% block title %}Product{% endblock %}

{%  block stylesheet %}
{{ parent() }}
 <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block ariane %}
    <li class="active">Produits</li>

{% endblock %}
{% block content %}



{% for flash_message in app.session.flashBag.get('success3') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}

{% set total = 0 %}

{% set prix = [] %}
            {% for product in products %}

                {% set total = total + product.price %}

                {% set prix = prix|merge([product.price]) %}


            {% endfor %}


{% if total>0 %}
    {% set total = total / products|length %}
    {% set lemoincher = min(prix) %}
{% endif %}

    <!-- Main content -->
    <section class="content">


        <div class="box">

            <div class="box-header">

                <h3 class="box-title">Tous les produits</h3>
                <a href="{{ path('product_create') }}" ><button type="button" class="btn btn-info btn-sm">Créer</button></a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Marque</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Prix</th>
                                <th>Categories</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                            <tr>

                               <td><img style="width: 100px" src="{{ asset("upload/"~product.image) }}" alt="image"/></td>
                                <td>{{ product.marque.title }} </td>

               {% if product.price == lemoincher %}

                                <td><u>{{ product.titleEN }}</u> </td>
                     {% else %}
                                <td>{{ product.titleEN }}</td>
               {% endif %}
                                <td>{{ product.descriptionEN }} </td>
                                <td>{{ product.price }} </td>
                                <td>

                                    {% for categories in product.categories %}
                                        <p>{{ categories.title }}</p>
                                    {% endfor %}

                                </td>
                        {#affichage avec variable $product avant DBB
                                <td>{{ product.date_created|date("d/m/Y") }} </td>#}
                                <td><div class="btn-group">
                                        <a href="{{ path("show_product",{id:product.id}) }}"><button type="button" class="btn btn-info">Voir</button></a>
                                        <a href="{{ path("product_modify",{id:product.id}) }}"><button type="button" class="btn btn bg-maroon">Editer</button></a>
                                        <a href="{{ path("product_remove",{id:product.id}) }}"><button type="button" class="btn btn-primary">Supprimer</button></a>
                                    </div></td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>


{% if total >0 %}

            <p>La moyenne des prix est : {{ total }}</p>

 {% endif %}


    {% if lemoincher is defined %}

            <p>le prix le moins cher est : {{ lemoincher  }}</p>

{% endif %}

 <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Area Chart</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="areaChart" style="height:250px"></canvas>
              </div>
            </div>

{% endblock %}

 {% block javascript %}
        {{ parent() }}

<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

<script>
    $(function () {
      $("#example1").DataTable(
              {
                "language": {
                  "lengthMenu": "Montrer _MENU_ enregistrement par page",
                  "zeroRecords": "Nothing found - sorry",
                  "info": "Montrer page _PAGE_ à _PAGES_",
                  "infoEmpty": "Pas d'enregistrement pour cette recherche",
                  "infoFiltered": "(filtré à partir de  _MAX_ enregistrements)"
                }
              });
    });
  </script>
{% endblock %}