{% extends "layout.html.twig" %}

{% block title %}Show-Product{% endblock %}

{% block ariane %}
    <li class="active"><a href="{{ path('product') }}">Produits</a></li>
    <li class="active">{{ product.title }}</li>
{% endblock %}
{% block content %}


            <h2> {{  product.title }} </h2>
            <p>Description :  {{ product.description }}</p>
            {#<strong> {{ product.date_created|date("d/m/Y") }} </strong>#}
            <p>Prix : {{ product.price }} €</p>
            <p>{{ product.quantity }} en stock</p>



{% endblock %}